@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,600,700,800,900');

:root {
  --window-color:#363636;
  --header-font:"Nunito";
  /*--window-color:#775bff;*/

}

::selection {
  background: #775bff; /* WebKit/Blink Browsers */
  color: #fEf;
}
::-moz-selection {
  background: #FF0; /* Gecko Browsers */
  color: #000;
}

.window {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px;
  max-width: 200px;
}

body{
  background-color: #fff;
  margin: 0px;
  overflow-x: hidden; /* Hide scrollbars */
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
}

hr{
  border: none;
  border-top: dotted;
}

a{
  color:hotpink;
  text-decoration: none;
}
 /* unvisited link */
a:link {
  /*color: #fd75ff;*/
  color: #0272ff;
  font-weight: bold;

}

/* visited link */
a:visited {
  color: #02c3ff;

}

/* mouse over link */
a:hover {
  color: #fff;
  background-color: #0272ff;
}

/* selected link */
a:active {
  color: blue;
} 

::-webkit-scrollbar {
  display: none;
}

.title{
  font-size: 8vw;
  font-family: 'Poiret One', cursive; 
}

h2{
  font-family: 'Poiret One', cursive;
  font-size: 32px; 
}

.header{
  /*border: 10px solid;*/
  font-family: var(--header-font);
  font-size: 40px;
  font-weight: 500;
}

.gradient {

  /*background: linear-gradient(-60deg, #81f7f7 20%, #ff98be 30%, #ff98be 70%, #81f7f7   80%);*/
  background: linear-gradient(-60deg, #775bff 20%, #fd75ff 30%, #fd75ff 70%, #775bff  80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 200% auto;
  animation: textShine 7s ease-in-out infinite;
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}

.content {
  position: fixed;
  background-image: radial-gradient(#fdbdbd 8%,transparent 10%);
  background-size: 15px 15px;
  color: #222;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-color: #555 #000;
  /*padding: 20px;*/
}

::-webkit-scrollbar-track {
  background-color: red;
  outline: 1px solid slategrey;
}

.plaza{
  background: #111;
  width: 100%;
  margin-right: 0px;
  height: 100%;
}


.blackBox{
  /*display: inline-flex;*/
  position:fixed;
  right:30px;
  top:30px;
  padding: 30px;
  background: #222;
  /*margin:30px;*/


}

.menu{
  background-color: #fff;
  float:left;
  border: 1px solid;
  border-color: var(--window-color);
  box-shadow: 10px 10px var(--window-color);

}

#menuItems{
  padding: 30px;

}

#LeftWrapper{
  position: fixed;
  top: 30px;
  left: 30px;
}

.ContentWindow{
  float:left; /* add this */
  position: fixed;
  width:800px;
  margin-left: 200px;
  padding-top:0px;
  background-color: #fff;
  padding:30px;

  border: 1px solid;
  border-color: var(--window-color);
  box-shadow: 10px 10px var(--window-color);
}

.topbar{  
  /*background-color: #775bff;*/
  display: block;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  /*color: var(--window-color);*/
  border-style: none none dotted none;
  text-align: center;
  font-weight: 800;
  font-family: var(--header-font);
  font-size: 20px;
  /*box-sizing: border-box;*/
  /*width: 100%;*/
  /*margin: -30px;*/
}

.contentTopBar{  
  background-color: #775bff;
  display: block;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  margin-left: -30px;
  margin-top: -30px;
  margin-right: -30px;
  color: #fff;
  text-align: center;
  font-weight: 800;
  font-family: var(--header-font);
  font-size: 20px;
  /*box-sizing: border-box;*/
  /*width: 100%;*/
  /*margin: -30px;*/
}

#avi{
  float:left;
  max-width: 300px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
}