
#trash{
  position: fixed;
  right:0;
  margin:30px;
  z-index: -99;
  /*bottom: 0;*/
}

#petIcon{
  position: fixed;
  right:0;
  margin:30px;
  /*bottom: 0;*/
}

.icon{
  z-index: -99;
  text-align: center;
  /*background-color: #f00;*/
  height: 100px;
  width: 100px;
}

.highlight{
  background-color: #f0f;
}