#loader {
  border: 5px solid #ffffff00;
  border-top: 5px solid #fd75ff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  animation: spin 0.5s linear infinite;
  position: fixed;
  /*right: 0;*/
  left: 50%;
  top: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}