@import url('rootstyle.css');
@import url('loader.css');
@import url('menu.css');
@import url('windowstyle.css');
@import url('wireframe.css');
@import url('desktop.css');




@media (max-aspect-ratio: 10/11) {
  body{
    font-size:20px;
    color:#fee;

  }

  .content{
  	background-color: #004;
  }
  .menu{

    box-shadow: 0px, 0px, var(--window-color);
    left: 0px;
    height:100vh;
    width:50%;
    background-color:#448;
    color:#fee;

  }
  #LeftWrapper{
    top:0px;
    left:0px;
    width:100%;
  }

  .ContentWindow{
    position: fixed;
    display: block;
    min-width:100%;
    min-height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #448;
    padding-top:0px;
    border: 1px solid;
    border-color: var(--window-color);
    box-shadow: 10px 10px var(--window-color);
    overflow-y: scroll;
	}

  .contentTopBar{
  	position: fixed;
  	display: block;
  	width: 100%;
  }

  
  #avi{
  	float:none;
  	margin:auto;
  	display: block;
  }
  .sectionHeader{
  	padding:40px;
  	margin:auto;
  	display: block;
  	text-align: center;
  	font-size:30px;
  }

  .ContentWindowContent{
  	margin-top: 50px;
  	overflow-y: scroll;
  }


}