@import url('rootstyle.css');
@import url('loader.css');
@import url('menu.css');
@import url('windowstyle.css');
@import url('wireframe.css');
@import url('desktop.css');


.desktopApp{
  visibility: visible;
}

.mobileApp{
  visibility: hidden;
}

#mobileMask{
  visibility: hidden;
}

@media (max-aspect-ratio: 10/11) {
  body{
    font-size:20px;
    color:#fee;

  }

	a:link {
	  /*color: #fd75ff;*/
	  color: #fbe25e;
	  font-weight: bold;
	}
  .content{
	  position: fixed;
	  background-image: radial-gradient(#537b69 3%,transparent 4%);
	  background-size: 50px 50px;
	  background-color: #151a1c;
	  width:  100%;
	  height: 100%;
	  scrollbar-color: #60ffbc #fff;
	  scrollbar-width: thin;
	  color:#fee;

  }
  .menu{
  	left:0px;
    box-shadow: 0px, 0px, var(--window-color);
    border: 0px;
    height:100vh;
    width:75%;
    background-color:#448;
    color:#fee;
    font-size:25px;


  }
  .topbar{
  	font-size:40px;
  }
  #LeftWrapper{
    top:0px;
    left:0px;
    width:100%;
    /*visibility: hidden;*/
  }

  .ContentWindow{
    position: fixed;
    display: block;
    min-width:100%;
    min-height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    background-color: #448;
    padding-top:0px;
    border: 1px solid;
    border-color: var(--window-color);
    box-shadow: 10px 10px var(--window-color);
    overflow-y: scroll;
	}

  .contentTopBar{
  	position: fixed;
  	display: block;
  	width: 100%;
  }

  
  #avi{
  	float:none;
  	margin:auto;
  	display: block;
  }
  .sectionHeader{
  	padding:40px;
  	margin:auto;
  	display: block;
  	text-align: center;
  	font-size:30px;
  }

  .ContentWindowContent{
  	margin-top: 50px;
  	overflow-y: scroll;
  }

  .desktopApp{
    visibility: hidden;
  }

  .mobileApp{
    visibility: visible;
  }

  #mobileMask{
    position: fixed;
    top:0px;
    left:0px;
    height:100%;
    width: 8%;
    visibility: visible;
    background-color: #448;
    z-index: -1;
  }

}