@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


.title{
    font-family: 'Nunito', sans-serif;
}

body{
    font-family: 'Ubuntu Mono';
    font-size: 20px;
    vertical-align: text-bottom;
    line-height: normal;
    background-color: #14141a;
    color:rgb(255, 248, 253);
}

.text-block{
    text-align: left;
}

.speech {
    padding:10px;
    text-align: left;
}
.row{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.fullimg{
    width: 100%;
}

a {
    text-decoration: none;
    color:rgb(255, 248, 253);
    /* color: rgb(255, 61, 200); */
}

a:hover {
    color:#ffa7ed;
}

/* a:visited{
    color: rgb(255, 248, 253);
} */

.onlymobile{
    visibility: hidden;
}

input{
    background-color:#100f14;
    color:rgb(255, 248, 253);
    margin: 0px;
    border: 0px solid black;
    border-bottom: 1px solid white;
    padding:10px;
}

input:current{
    color:red;
}

.gradient{
    background: linear-gradient(-60deg,#775bff 20%,#fd75ff 30%,#fd75ff 70%,#775bff 80%);
    background-size: auto;
    background-clip: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 200% auto;
    -webkit-animation: textShine 7s ease-in-out infinite;
    animation: textShine 7s ease-in-out infinite;
}

.header{
    display: inline-block;
    font-size: 25px;
    margin-top:20px;
    overflow: visible;
}

.indent{
    margin-left:20px;
}


@keyframes textShine {
to {
    background-position: 200%;
}
}

@media (max-aspect-ratio: 1){
    body{
        font-size: 25px;
    }
    .onlymobile{
        visibility:visible;
    }

    .onlydesktop{
        visibility: hidden;
        width: 0px;
        height: 0px;
        position: fixed;
    }
}
