 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    svg{
        height: 500;
        width: 500;
        display: block;
        margin: auto;
    }
    body{
        font-family: 'Roboto', sans-serif;
    }
    .mainLine{
        stroke-width:2;
        stroke:black;
    }
    .fineLine{
        stroke-width:1;
        stroke:#eee;
    }
    .labelText{
        font-weight: bold;
    }
    .tickLabel{
        text-anchor: middle;
    }
    .tickLine{
        stroke-width:1;
        stroke:#333;
    }
    #controls{
        display: inline-block;
        position: fixed;
        right:50px;
        padding: 10px;
        background-color: #eee;
    }